*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Rubik', sans-serif;
}

:root[data-theme="light"] {
    --text: #ffffff;
    --background: #ffffff;
    --primary: #050505;
    --secondary: #0a0aff;
    --bgHeader: #2a2a2a;
    --accent: #ff1c1c;
    --even: rgb(231, 231, 231); 
    --odd: rgb(195, 195, 195);
  }
  :root[data-theme="dark"] {
    --text: #f2f2f2;
    --background: #525252;
    --primary: #050505;
    --secondary: #0000f5;
    --bgHeader: #d4d4d4;
    --accent: #f62323;
    --even: rgb(46, 46, 46); 
    --odd: rgb(36, 36, 36);    
  }
  
header .right input[type="checkbox"]{
    display: none;
}
header .right input[type="checkbox"]:checked{
    --text: #f2f2f2;
    --background: #333333;
    --primary: #050505;
    --secondary: #0000f5;
    --accent: #f62323;
}
body{
    background-color: var(--background);    
    color: var(--text);
}
header{
    height: 60px;
    width: 100%;            
    display: flex;     
    position: fixed;
    z-index: 1000000000;
    top: 0;       
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.468);
}
header .left{
    width: 40%;   
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--accent);
    justify-content: start;
}
header .left h1{
    font-size: 1rem;
    text-transform: uppercase;    
    font-weight: 500;
    padding-left: 40px;
    text-shadow: 1px 1px 5px rgba(58, 58, 58, 0.219);
}
header .right{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;    
    align-items: center;    
    background-color:  var(--bgHeader);
    color: var(--primary);
}

header .right .buscador{
    display: flex;        
    flex-direction: column;    
    width: 330px;
    margin-right: 50px;
    margin-top: 16px;
    height: 50px;
    align-items: center;    

}
header .log{
    width: 255px;    
    height: 130%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--accent);
    font-weight: 600;
}
.log .img{
    display: flex;    
}
header .buscador .bot{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;    
    align-items: center;       
    
}
header .buscador label{    
    background-color: #fafafa;
    height: 30px;
    width: auto;    
    display: flex;
    justify-content: center;
    align-items: center;        
    border-radius: 0 5px 5px 0; 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.527);   
}
header .buscador label#darkMenu{    
    border-radius: 5px;
    margin-left: 10px;
    
}
header .buscador label#darkMenu:hover{    
    background-color: var(--accent);
}

header .buscador svg{
    cursor: pointer;    
    border-radius: 0 5px 5px 0;  
    width: 80%;
    height: 80%;
    padding: 5px;
}
header .buscador svg:hover{
    transform: scale(1.1);
}
header .buscador input{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.457);   
    width: 80%;
    height: 30px;
    padding: 5px;        
    border-radius: 5px 0 0 5px;
    border-style: none;
    outline: none;

}
header .right .buscador .resultadosJuegos{
    width: 80%;    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    font-size: 0.8rem;        
    height: auto;        
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.272);
}
.divisor{    
    width: 70%;
    height: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.149);
    margin: 2px 0 30px 5px;
}
.div{
    height: 1px;
    width: 100%;
    
}
header .buscador .resultadosJuegos p{
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header .buscador .resultadosJuegos p span{
    margin-left: 16px;
}td#acciones{    
    display: flex;
    margin: 13% 7%;
    padding: 6px 0;    
    justify-content: space-evenly;
    background-color: var(--text);    
}
.cont{
    height: auto;
    margin-top: 60px;
    padding: 20px;
}
.cont table{
    width: 100%;
    height: auto;
    color: var(--dark-text);
    border-collapse: collapse;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.703)k;
}
.cont th{
    width: 150px;
}
.cont th#num{
    width: 100px;
}
.cont tr td{
    padding: 20px;
    border: var(--border);    
    background-color: #fafafa;
}
.cont tr td label{
    display: none;
}
.cont tr td input{
    width: 100%;
    height: 70%;
    padding: 5px;
}
tbody tr{
    border-color: #ff0b0b;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.cont thead tr{    
    position: sticky;
    top: 9vh;        
}

tr:nth-child(even) td{
    background-color: var(--even);  
}
tr:nth-child(odd) td{
    background-color: var(--odd);
}
tr:hover td{
    background-color: #c0c0c0;        
}
td a{
    text-decoration: none;
}
td#a:hover::before {
    content: "555";
    background-color: #c0c0c0;    
    border-radius: 5px;
    position: absolute;
    margin-top: -20px;
    z-index: 1;
}    

.cont thead tr{       
    background-color: var(--primary);
    color: var(--text);
}
.cont thead tr th{
    border: var(--border);
    height: 65px;
}

/* Estilo para ocultar el select por defecto */
#categorias {
    display: none;
}

/* Estilo para mostrar el select cuando se hace clic en el título */
#categorias.show {
    display: block;
    position: absolute;
    left: 20%;    
    top: 20%;
    height: 100px;
    width: 160px;
    padding: 5px; 
    z-index: 10000000000000000000000000000000;
}
/* Estilo para ocultar el select por defecto */
#proveedores {
    display: none;    
}

/* Estilo para mostrar el select cuando se hace clic en el título */
#proveedores.show{
    display: block;
    position: absolute;
    left: 35.5%;    
    top: 20%;
    height: 100px;
    width: 200px;
    padding: 5px;    
    z-index: 10000000000000000000000000000000;
}
